<html>
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112816831-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112816831-1');
</script>
        <title>HTML - Web Form</title>
    </head>
<body>

<h1>Fill Out This Form</h1>

  <form action="/charge" method="post" class="payment">
    <article>
      <label class="amount">
        <span>Amount: $5.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="A month's subscription"
            data-amount="500"
            data-locale="auto"></script>
  </form>

  </body>
  </html>
