<html>
    <head>
        <title>Front Page</title>
    </head>
<body>

Past work:
<p>
<a href="/hello">Greeting engine</a> </br>
<a href="/number">Calculator for very specific circumstances</a> </br>
<a href="/charge">Stripe integration</a> </br>
<a href="/phone">Joe will text you</a> </br>

</p>

</body>
</html>
