<!DOCTYPE html>
<html>
<title>10Minutes.io</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button"><b>10Minutes</b>.io</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>
------
<div class="w3-container w3-padding-32" id="about">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Steps</h3>
</div>

<div class="w3-row-padding w3-grayscale">
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="https://static.pexels.com/photos/699122/pexels-photo-699122.jpeg" alt="101" style="width:100%">
    <h3>Front End</h3>
    <p class="w3-opacity">101</p>
    <p>You'll build:</br>
      * A Ruby program that uses Sinatra</br>
      * Atom / Github / App Engine connection + context</br>
      * A test and a live version of your Hello World application</p>
    <p><button class="w3-button w3-light-grey w3-block">Get started</button></p>
  </div>

  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src= "https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg" alt="201" style="width:100%">
    <h3>Deep in the data</h3>
    <p class="w3-opacity">201</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p><button class="w3-button w3-light-grey w3-block">Connect</button></p>
  </div>

  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="https://static.pexels.com/photos/34202/pexels-photo.jpg" alt="301" style="width:100%">
    <h3>Compiling Level</h3>
    <p class="w3-opacity">301</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p><button class="w3-button w3-light-grey w3-block">Finish up</button></p>
  </div>

  <div class="w3-col l3 m6 w3-margin-bottom"><a href="/nextsteps">
    <img src="https://static.pexels.com/photos/577585/pexels-photo-577585.jpeg" alt="Grad" style="width:100%">
    <h3>Next Steps</h3>
    <p class="w3-opacity">Grad</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p><button class="w3-button w3-light-grey w3-block">Keep going</button></p>
  </div>

</div>


<!-- Add email intake -->

</body>
</html>
