<html>
    <head>
        <title>Number card</title>
    </head>
<body>

<p>
<em style="color: green; font-size: 2em;">Your number twice is <%= number %>!</em> </br>
<em style="color: green; font-size: 2em;">Your number times 2 is still being worked on.</em>
</p>

</body>
</html>
