<html>
    <head>
        <title>Number Form</title>
    </head>
<body>

<h1>Fill Out This Form</h1>

<form action="/number" method="POST">
    A number: <input type="number" name="small_num">
    <input type="submit">
</form>

</body>
</html>
