<html>
    <head>
        <title>Number Form</title>
    </head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112816831-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112816831-1');
</script>

<body>

<h1>Fill Out This Form</h1>

<form action="/phone" method="POST">
    A number: <input type="text" name="pjone">
    <input type="submit">
</form>

</body>
</html>
